fastapi
uvicorn[standard]
passlib[bcrypt]
sqlalchemy
python-dotenv
pydantic
fastapi-mail
bcrypt
python-jose[cryptography]
email-validator
pymongo[srv]==3.12
Pillow
motor

# Flask backend dependencies
flask
flask-cors
torch==2.9.1
torchvision==0.24.1
numpy
opencv-python
matplotlib
requests
timm
