fastapi
uvicorn[standard]
passlib[bcrypt]
sqlalchemy
python-dotenv
pydantic
fastapi-mail
bcrypt
python-jose[cryptography]
email-validator
pymongo[srv]==3.12
Pillow

# Flask backend dependencies
flask
flask-cors
torch
torchvision
numpy
opencv-python
matplotlib
requests
timm
